###
### MacOS extra files
###
**/.DS_Store
###
### dotnet build files
###
**/bin/*
**/obj/*
*/.vs/*
##
## Visual Studio Code
##
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-workspace
##
## Output files from execution
##
*.output.png
*.output.json
*.output.jpg
*.annotated.*
##
## Avalonia UI (has a tendency to place images in the code root folder)
##
tfrewin.play.fractal.avalonia/*.png
tfrewin.play.fractal.avalonia/*.jpg
tfrewin.play.fractal.avalonia/*.parameters.json