**/bin/*
**/obj/*
*/.vs/*
##
## Visual Studio Code
##
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
##
## Output files from execution
##
**/*.output.png